:root {
    --dark-color: #111;
    --light-color: #5e5e5e;
    --primary: #7d9fda;
    --secondary: #eee;
    --brown: #353116;
    --blue: #022b71;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > *{
    width: 90%;
}

header {
    height: 160px;
    background-color: var(--blue);

}
.links{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.job-platforms{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 5px;
}

.job-platform{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.job-platform a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin: 2px;
}

.job-platform span{
    margin-left: 4px;
}

#hero {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: var(--secondary);
    padding: 20px 0;
}

#hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero .hero-text-item {
    margin: 3px 0;
}

#hero-text .title {
    font-weight: 500;
    font-family: Pattaya, sans-serif;
    font-size: 2.4rem;
}

#hero-text .subtitle {
    font-family: sans-serif;
    font-size: 1rem;
}

#social-medias a {
    color: var(--secondary);
    font-size: 1rem;
}

main {
    padding: 0 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--light-color);
    margin: 20px 0;
    width: 100%;
    font-weight: 100;
}

#projects {
    display: flex;
    flex-wrap: wrap;
}

@media(width <=1250px) {
    #projects {
        flex-direction: column;
    }

    .project {
        min-width: 100%;
    }
}

.project {
    margin: 10px 0 20px 0;
    position: relative;
    display: flex;
    width: 50%;
    color: var(--light-color);
}

.project img {
    width: 230px;
    height: 230px;
    cursor: pointer;
    border: solid var(--blue);
}

.project a {
    text-decoration: none;
    color: var(--dark-color);    
    font-size: 0.9rem;
}

.project .content {
    height: auto;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 30px 10px 30px;
}

.project .tag {
    position: absolute;
    top: 10px;
    left: 200px;
    padding: 5px;
    background-color: var(--secondary);
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--primary);
}

footer {
    display: flex;
    justify-content: center;
}

#foot {
    color: var(--secondary);
    background-color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

#foot .title {
    font-weight: 500;
    font-family: Pattaya, sans-serif;
    font-size: 1rem;
    margin-top: 7px
}